<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Classic Car Parts</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  


</head>
<body>
<a href="/">all listings</a>
<% if logged_in? %>
  <p> logged in as <%= current_user["email"]%> </p>
  <a href="/user/listings"> My Listings</a>

  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
  </form>
  <% if request.path_info != '/user/listings/new'%>
  <a href="/user/listings/new">create listing</a>
  <% end%>
<% else %>
  <% if request.path_info != '/login' %>
    <a href="/login">login</a>
  <%end%>
  <% if request.path_info != '/register'%>
    <a href="/register">register</a>
  <%end%>
<%end%>



  <%= yield %>

</body>
</html>
