
<div class="login-register-form-wrapper">
    <div class="login-register-form-layout">
        <form class="login-form-detail " action="/login" method="post">
            <p class="login-register-message"><%=msg%></p>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" placeholder="Email" name="email">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="password">
            </div>
            <button class="login-register-form-button ">login</button>
        </form>
    </div>
</div>

