<h1>Create New Advertisment</h1>

<form action="/listings" method="post">
    <label for="">Headline:</label>
    <input name ="headline" type="text">
    <label for="">Description</label>
    <input name= "description"type="text">
    <button>Create</button>
</form>