body {
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: green;
}
.listings-img {
   
    width: 150px;
    height: 150px;
    padding: 10px;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
}
.listings-layout {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-start: 2;
    height: 150px;
    
}

.listings {
    text-decoration: none;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    color: black;
}

.listings-details {
    display: grid;
    grid-template-rows: .25fr  .75fr;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}
.listing-heading {
    display: grid;
    text-transform: uppercase;
    overflow: hidden;
}

.price {
    color: green;
    
}
.listings-description {
    overflow: hidden;
}
.listings-suburb-date {
    display: grid;
    grid-template-rows: .25fr .5fr .25fr;
    padding: 10px;
    text-align: center;
}

.suburb {
    color:orange;
    text-transform: uppercase;
}

.date-posted {
    grid-row-start: 3;
    color: grey
}
.listing-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 10px;
}
.listing-layout {
    display: grid;

    grid-template-rows: .1fr .1fr 2fr 1fr .1fr;
    background-color: white;

}
.listing-details {
    display: grid;
    grid-row-start: 4;
}
.listing-img {
    grid-row-start: 3;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.listing {
    text-decoration: none;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    color: black;
}
.listing-top-row-layout {
    display: grid;
    grid-template-columns: 1fr .2fr;
}
.listing-headline {
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
}
.listing-price {
    padding: 3%;
    color: green;
    grid-row-start: 2;
    text-align: center;
 
}
.listing-description {
    padding: 3% 5%;
    height: 125px;
    overflow: scroll;
    background-color: #f4f4f4;
    border: solid white;
   
}
.listing-suburb {
    text-align: center;
    color: orange;
}

.contact-area {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 0 10%;
    background-color: white;
}
.contact-msg-area {
    grid-row-start: 2;
    width: 80%;
    height: 40%;
    padding: 10%;
  

}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr .5fr .5fr;
    text-align: center;
    background-color: orange;
    
}
.nav-bar {
    text-decoration: none;
 
    color: white;
    text-transform: uppercase;
}
.all-listings {
    grid-column-start: 1;

}
.my-listings {
    grid-column-start: 2;
    
}
.create-listing {
    grid-column-start: 3;
   
}
.logout{
    grid-column-start: 6;
}
.logout-btn {
   
    background-color:orange; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
   
}
.login {
    grid-column-start: 4;
   
}
.register {
    grid-column-start: 5;
  
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-column-start: 2;
}
.search-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.search-relevance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.search-layout {
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    
}
.search-btn-layout {
    text-align: center;
}
.search-btn {
   
    background-color:orange; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

