body {
    background-color: #f4f4f4;
}
img {
   
    width: 150px;
    height: 150px;
    padding: 0 10px;
}
.listings-img {
   
    width: 150px;
    height: 150px;
    padding: 10px;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
}
.listings-layout {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-start: 2;
    height: 150px;
    overflow: hidden;
}

.listings {
    text-decoration: none;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    color: black;
}

.listings-details {
    display: grid;
    grid-template-rows: .25fr  .75fr;
    height: 150px;
    margin: 10px;
}
.listing-heading {
    display: grid;
    text-transform: uppercase;
    overflow: hidden;
}

.price {
    color: green;
    
}
.listings-suburb-date {
    display: grid;
    grid-template-rows: .25fr .5fr .25fr;
    padding: 10px;
    text-align: center;
}

.suburb {
    color:orange;
    text-transform: uppercase;
}

.date-posted {
    grid-row-start: 3;
    color: grey
}
